body {
	background-color: #DEDEDE;
}


.text-center > h2 {
	margin: 60px 0px 20px 0px;
}

.clearBoth {
	clear: both;
}

.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}

#searchResults {
	padding: 20px 0 0 0;
}

#searchResults .col-sm-8 {
	padding: 15px 0 0 0;
}